@model IEnumerable<ThreeDPrinters>

@{
    ViewData["Title"] = "Printer List";
}

<h1>PrinterList</h1>

    <div class="printerlist">
@foreach (var item in Model) {
        <div class="card-text-center">
            <div class="card-header">
              <img src="@Html.DisplayFor(modelItem => item.PrinterImage)" class="card-img-top" alt="">  
              <ul class="list-group list-group-flush">
                    <li class="list-group-item" @Html.DisplayFor(modelItem => item.SKU)></li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Title)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Price)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.BuildVolume)</li>
              </ul>
            </div>
        </div>  
}
    </div>